Flask
Flask-Login
Flask-SQLAlchemy
Flask-Dance
Flask-Bcrypt
Flask-Mail
Flask-Session
Werkzeug
gunicorn
python-dotenv
markdown
Pillow
pytesseract
PyMuPDF
PyPDF2
python-docx
beautifulsoup4

langchain
langchain-community
langchain-groq
langchain-openai
langchain-google-genai

faiss-cpu
sentence-transformers
tiktoken

