flask
Flask-Login
Flask-SQLAlchemy
Flask-Dance
Werkzeug
gunicorn
python-dotenv
markdown

langchain
langchain-community
langchain-groq
langchain-openai
langchain-google-genai

PyPDF2
faiss-cpu
tiktoken

